@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F8F8F6;
    --surface: #FFFFFF;
    --primary: #E1C44D;
    --secondary: #5F5C48;
    --border: #E5E7EB;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background-color: var(--background);
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
